@border-radius-base: 3px;
@border-radius-sm: 2px;
@shadow-color: rgba(0,0,0,0.05);
@shadow-1-down: 4px 4px 40px @shadow-color;
@border-color-split: #f4f4f4;
@border-color-base: #e5e5e5;
@font-size-base: 13px;

@primary-color: #727cf5;
@warning-color: #faad14;
@grey-color: #98a6ad;
@green-color: #08cf97;
@red-color: #fa5777;
@text-color: #6b757c;

@blue: #2c8ef8;
@indigo: #727cf5;
@purple: #6b5eae;
@pink: #ff679b;
@red: #fa5c7c;
@orange: #fd7e14;
@yellow: #ffbc00;
@green: #0acf97;
@teal: #02a8b5;
@cyan: #39afd1;
@white: #fff;
@gray: #98a6ad;
@gray-dark: #343a40;
@primary: #727cf5;
@secondary: #6c757d;
@success: #0acf97;
@info: #39afd1;
@warning: #ffbc00;
@danger: #fa5c7c;
@light: #e3eaef;
@dark: #313a46;
